# Assignment 8: Data Aggregation and Group Operations

## Overview
This assignment covers data aggregation and group operations using healthcare/insurance EHR data. You'll analyze patient encounters (insurance claims), healthcare providers, and medical facilities across different regions. The data includes provider statistics, facility information, and encounter charges with insurance coverage details.

## Setup

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

# Set random seed for reproducibility
np.random.seed(42)

# Create output directory
os.makedirs('output', exist_ok=True)

## Question 1: Basic GroupBy Operations

### Part 1.1: Load and Explore Data

**TODO: Load and merge the datasets**

In [97]:
# TODO: Load the three CSV files into dataframes
# provider_df = pd.read_csv(...)
# facility_df = pd.read_csv(...)
# encounter_df = pd.read_csv(...)
provider_df = pd.read_csv("data/provider_data.csv")
facility_df = pd.read_csv("data/facility_data.csv")
encounter_df = pd.read_csv("data/encounter_data.csv")

# TODO: Print the shapes of each dataframe
# print("Provider data shape:", ...)
# print("Facility data shape:", ...)
# print("Encounter data shape:", ...)
print(provider_df.shape)
print(facility_df.shape)
print(encounter_df.shape)

# TODO: Merge the dataframes for analysis
# Hint: Start by merging encounter_df with provider_df on 'provider_id'
#       Then merge the result with facility_df on 'facility_id'
# Note: Both encounter_df and provider_df have 'facility_id', and both encounter_df and facility_df have 'region'
#       After merging, you may need to handle duplicate column names (pandas will add suffixes like _x and _y)
#       You can drop one of the duplicate columns and rename if needed
#print('provider', provider_df.columns, '\n')
#print('facility', facility_df.columns, '\n')
#print('encounter', encounter_df.columns, '\n')
encounter_provider_df = pd.merge(encounter_df,provider_df, how = 'left', on= ('provider_id'))
encounter_provider_df = encounter_provider_df.drop(columns=['facility_id_y'])
encounter_provider_df = encounter_provider_df.rename(columns={'facility_id_x': 'facility_id'})
#print(merge1.columns)
merged_df = pd.merge(encounter_provider_df, facility_df, how = 'left', on = 'facility_id')
merged_df = merged_df.drop(columns=['region_y'])
merged_df = merged_df.rename(columns={'region_x': 'region'})

# TODO: Print the merged dataframe shape, columns, and first few rows
# print("\nMerged data shape:", ...)
# print("\nColumns:", ...)
# print("\nFirst few rows:")
# print(...)
print(f'\n____Data Frame Summary____')
print(f'\nMerged data shape:\n{merged_df.shape}')
print(f'\nColumns:\n{merged_df.columns}')
print(f'first few rows:\n {merged_df.head(3)}')

(500, 7)
(10, 6)
(5000, 12)

____Data Frame Summary____

Merged data shape:
(5000, 21)

Columns:
Index(['encounter_id', 'patient_id', 'provider_id', 'facility_id',
       'encounter_date', 'encounter_type', 'diagnosis_code', 'procedure_code',
       'service_charge', 'insurance_paid', 'patient_paid', 'region',
       'provider_name', 'provider_type', 'specialty', 'years_experience',
       'license_number', 'facility_name', 'facility_type', 'beds',
       'established_date'],
      dtype='object')
first few rows:
   encounter_id patient_id provider_id facility_id encounter_date  \
0     ENC00001   PAT01564      PR0259      FAC004     2023-08-21
1     ENC00002   PAT00296      PR0258      FAC001     2023-09-11
2     ENC00003   PAT01381      PR0213      FAC001     2023-03-20

  encounter_type diagnosis_code  procedure_code  service_charge  \
0   Office Visit          M79.3           99213          345.03
1      Inpatient          N18.9           85025          550.48
2            Lab          K21.9           80053          149.84

   insurance_paid  ...  region    provider_name provider_type      specialty  \
0          290.33  ...    West   Quinn Anderson         Nurse     Pediatrics
1          482.51  ...   South    Drew Martinez     Therapist  Endocrinology
2          116.67  ...   South  Jordan Anderson     Physician    Dermatology

  years_experience  license_number          facility_name facility_type beds  \
0               11       LIC000259  Northside Urgent Care   Urgent Care  313
1               19       LIC000258  City General Hospital   Urgent Care  276
2                3       LIC000213  City General Hospital   Urgent Care  276

   established_date
0        1994-10-04
1        1999-11-27
2        1999-11-27

[3 rows x 21 columns]

### Part 1.2: Basic Aggregation

**TODO: Perform basic groupby operations**

In [99]:
# TODO: Group by facility (healthcare facility) and calculate basic stats
#display(merged_df.dtypes)
# TODO: Calculate mean, sum, count for years_experience by facility
print(merged_df.groupby('facility_name')['years_experience'].agg(['mean', 'sum', 'count']))
print('\n')
# TODO: Calculate total encounter charges by facility
print(merged_df.groupby('facility_name')['encounter_id'].count().reset_index(name='count'))
print('\n')
# TODO: Calculate total insurance payments by facility
print(merged_df.groupby('facility_name')['insurance_paid'].sum().reset_index(name='total insurance payments'))
# TODO: Find the facility with highest total encounter charges
print(f"\nHighest to lowest service charges by facility:\n")
print(merged_df.groupby('facility_name')['service_charge'].sum().sort_values(ascending=False))
# TODO: Create a summary dataframe with one row per facility showing:
#       facility_name, total_providers, avg_years_experience, total_service_charge, total_insurance_paid
total_providers = merged_df.groupby('facility_name')['provider_id'].nunique()
avg_years_experience = merged_df.groupby('facility_name')['years_experience'].mean()
total_service_charge = merged_df.groupby('facility_name')['service_charge'].sum()
total_insurance_paid = merged_df.groupby('facility_name')['insurance_paid'].sum()
summary_df = pd.DataFrame({
                           'total_providers':total_providers,
                           'avg_years_experience': avg_years_experience,
                           'total_service_charge': total_service_charge,
                           'total_insurance_paid': total_insurance_paid,
})
display(summary_df)
# TODO: Save the summary dataframe as 'output/q1_groupby_analysis.csv'
summary_df.to_csv('output/q1_groupby_analysis.csv', index=False)

                                  mean    sum  count
facility_name
Cardiology Specialty Center  19.319728   8520    441
City General Hospital        19.563008   9625    492
Community Health Clinic      20.160784  10282    510
Emergency Medical Center     19.668687   9736    495
Northside Urgent Care        20.137014   9847    489
Oncology Treatment Center    19.381139   9865    509
Pediatric Care Center        19.811676  10520    531
Primary Care Clinic          20.102970  10152    505
Regional Medical Center      20.209205   9660    478
Surgical Specialty Center    20.778182  11428    550


                 facility_name  count
0  Cardiology Specialty Center    441
1        City General Hospital    492
2      Community Health Clinic    510
3     Emergency Medical Center    495
4        Northside Urgent Care    489
5    Oncology Treatment Center    509
6        Pediatric Care Center    531
7          Primary Care Clinic    505
8      Regional Medical Center    478
9    Surgical Specialty Center    550


                 facility_name  total insurance payments
0  Cardiology Specialty Center                 222139.04
1        City General Hospital                 236798.50
2      Community Health Clinic                 269207.92
3     Emergency Medical Center                 248439.20
4        Northside Urgent Care                 236839.71
5    Oncology Treatment Center                 267183.95
6        Pediatric Care Center                 291790.95
7          Primary Care Clinic                 260297.44
8      Regional Medical Center                 251750.43
9    Surgical Specialty Center                 278503.38

Highest to lowest service charges by facility:

facility_name
Pediatric Care Center          361811.04
Surgical Specialty Center      349909.18
Community Health Clinic        334992.21
Oncology Treatment Center      334927.30
Primary Care Clinic            323315.71
Regional Medical Center        316284.98
Emergency Medical Center       310735.25
Northside Urgent Care          297283.06
City General Hospital          295508.13
Cardiology Specialty Center    276658.83
Name: service_charge, dtype: float64

,total_providers,avg_years_experience,total_service_charge,total_insurance_paid
facility_name,,,,
Cardiology Specialty Center,297,19.319728,276658.83,222139.04
City General Hospital,312,19.563008,295508.13,236798.50
Community Health Clinic,328,20.160784,334992.21,269207.92
Emergency Medical Center,299,19.668687,310735.25,248439.20
Northside Urgent Care,305,20.137014,297283.06,236839.71
Oncology Treatment Center,324,19.381139,334927.30,267183.95
Pediatric Care Center,326,19.811676,361811.04,291790.95
Primary Care Clinic,316,20.102970,323315.71,260297.44
Regional Medical Center,309,20.209205,316284.98,251750.43
Surgical Specialty Center,340,20.778182,349909.18,278503.38

### Part 1.3: Transform Operations

**TODO: Use transform operations to add group statistics**

In [ ]:
# TODO: Add facility mean years_experience as new column
merged_df['avg_years_experience'] = merged_df.groupby('facility_name')['years_experience'].transform('mean')
display(merged_df.head(1))
# TODO: Add facility standard deviation of years_experience
merged_df['sd_years_experience'] = merged_df.groupby('facility_name')['years_experience'].transform('std')
display(merged_df.head(1))
# TODO: Create normalized years_experience (z-score within facility)

# TODO: Add facility total encounter charges as new column

# TODO: Display the enhanced dataframe
# TODO: Save results as 'output/q1_aggregation_report.txt'

,provider_id,provider_name,provider_type,facility_id,specialty,years_experience,license_number,encounter_id,patient_id,encounter_date,...,procedure_code,service_charge,insurance_paid,patient_paid,region,facility_name,facility_type,beds,established_date,avg_years_experience
0,PR0001,Sam Wilson,Nurse Practitioner,FAC006,General Practice,20,LIC000001,ENC00027,PAT01573,2023-01-03,...,80053,135.45,119.77,15.68,West,Oncology Treatment Center,Hospital,252,1994-03-19,21.457961

,provider_id,provider_name,provider_type,facility_id,specialty,years_experience,license_number,encounter_id,patient_id,encounter_date,...,service_charge,insurance_paid,patient_paid,region,facility_name,facility_type,beds,established_date,avg_years_experience,sd_years_experience
0,PR0001,Sam Wilson,Nurse Practitioner,FAC006,General Practice,20,LIC000001,ENC00027,PAT01573,2023-01-03,...,135.45,119.77,15.68,West,Oncology Treatment Center,Hospital,252,1994-03-19,21.457961,9.387397

## Question 2: Advanced GroupBy Operations

### Part 2.1: Filter Operations

**TODO: Use filter operations to remove groups**

In [ ]:
# TODO: Filter facilities with more than 20 providers (sufficient staffing)
# TODO: Filter facilities with average years_experience > 10 (experienced staff)
# TODO: Filter facilities with total encounter charges > 250000 (high volume)

# TODO: Create a summary of filtered results
# TODO: Save results as 'output/q2_filter_analysis.csv'

### Part 2.2: Apply Operations

**TODO: Use apply operations with custom functions**

In [ ]:
# TODO: Create custom function to calculate provider statistics
def provider_stats(group):
    # TODO: Return mean, std, min, max, range for years_experience
    pass

# TODO: Apply custom function to each facility
# Note: Add include_groups=False to avoid pandas FutureWarning about groupby columns
facility_provider_stats = merged_df.groupby('facility_name').apply(provider_stats, include_groups=False)

# TODO: Create function to find top providers in each facility
def top_providers(group, n=2):
    """Return top n providers in a group by encounter volume"""
    # TODO: Return top n rows by encounter count, selecting only provider_id, provider_name, 
    #       years_experience, specialty
    pass

# TODO: Apply function to get top 2 providers per facility
# IMPORTANT: When using groupby().apply(), the result has a MultiIndex where:
# - Level 0: The grouping column (facility_name)
# - Level 1: The original row index from each group
# Use reset_index(level=0) to move only the grouping column back to a regular column
# DO NOT use reset_index(drop=True) - that would drop ALL index levels including facility_name!
top_providers_by_facility = merged_df.groupby('facility_name').apply(
    lambda x: top_providers(x, n=2)
).reset_index(level=0)  # Moves facility_name from index to column

# TODO: Save results as 'output/q2_performance_report.txt'

### Part 2.3: Hierarchical Grouping

**TODO: Perform multi-level grouping**

In [ ]:
# TODO: Group by facility type and region
# TODO: Calculate statistics for each facility_type-region combination
# TODO: Use unstack to convert to wide format
# TODO: Use stack to convert back to long format

# TODO: Analyze the hierarchical structure
# TODO: Save results as 'output/q2_hierarchical_analysis.csv'

## Question 3: Pivot Tables and Cross-Tabulations

### Part 3.1: Basic Pivot Tables

**TODO: Create pivot tables for multi-dimensional analysis**

In [ ]:
# TODO: Create pivot table: encounter charges by procedure code and region
# TODO: Create pivot table with multiple aggregations (sum, mean, count)
# TODO: Add totals (margins) to pivot table
# TODO: Handle missing values with fill_value

# Tip: When saving a pivot table to CSV, the index (row labels) is preserved by default.
#      This is usually desired - when reading back, use index_col=0 to restore the index.
# TODO: Save results as 'output/q3_pivot_analysis.csv'

### Part 3.2: Cross-Tabulations

**TODO: Create cross-tabulations for categorical analysis**

In [ ]:
# TODO: Create crosstab of facility type vs region with counts
# TODO: Create crosstab with margins (row and column totals)
# TODO: Create multi-dimensional crosstab showing facility type × encounter type × region combinations
#       (Hint: use pd.crosstab with multiple index/column parameters, or create manually from the data)

# TODO: Analyze the cross-tabulation results
# TODO: Save results as 'output/q3_crosstab_analysis.csv'

### Part 3.3: Pivot Table Visualization

**TODO: Create visualizations from pivot tables**

In [ ]:
# TODO: Create heatmap from pivot table
# TODO: Create bar chart from pivot table
# TODO: Customize colors and styling
# TODO: Add appropriate titles and labels

# TODO: Save the plot as 'output/q3_pivot_visualization.png'

## Submission Checklist

Before submitting, verify you've created:

- [ ] `output/q1_groupby_analysis.csv` - Basic groupby analysis
- [ ] `output/q1_aggregation_report.txt` - Aggregation report
- [ ] `output/q2_filter_analysis.csv` - Filter operations analysis
- [ ] `output/q2_hierarchical_analysis.csv` - Hierarchical analysis
- [ ] `output/q2_performance_report.txt` - Performance report
- [ ] `output/q3_pivot_analysis.csv` - Pivot table analysis
- [ ] `output/q3_crosstab_analysis.csv` - Cross-tabulation analysis
- [ ] `output/q3_pivot_visualization.png` - Pivot visualization

## Key Learning Objectives

- Master the split-apply-combine paradigm
- Apply aggregation functions and transformations
- Create pivot tables for multi-dimensional analysis
- Apply advanced groupby techniques